body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Arka plan rengi */
}

.container {
    position: relative;
}

.overlay {
    width: 100%; /* Resmi tam genişlikte göster */
    height: auto; /* Orantılı yükseklik */
}

.text {
    position: absolute;
    top: 5%; /* Soru kısmı için yukarı kaydırma */
    left: 50%; /* Ortada hizalama */
    transform: translateX(-50%); /* Ortada görünmesi için ayar */
    color: white; /* Yazı rengi */
    font-size: 4vw; /* Yazı boyutu, ekran genişliğine göre ayarlanır */
    text-align: center;
}

.option {
    position: absolute;
    background-color: red; /* Şık arka plan rengi */
    color: yellow; /* Şık yazı rengi */
    font-size: 3vw; /* Şık yazı boyutu, ekran genişliğine göre ayarlanır */
    padding: 1.5vw; /* Padding, ekran genişliğine göre ayarlanır */
    border-radius: 5px;
    transition: background-color 0.3s; /* Renk geçişi için animasyon */
}

.optionA {
    left: 12%; /* A Şıkkı için sağa kaydırma */
    top: 35%; /* A Şıkkı için yukarı kaydırma */
}

.optionB {
    left: 50%; /* B Şıkkı için sağa kaydırma */
    top: 35%; /* B Şıkkı için yukarı kaydırma */
    transform: translateX(-50%); /* B Şıkkı ortalamak için */
}

.optionC {
    left: 12%; /* C Şıkkı için sağa kaydırma */
    top: 65%; /* C Şıkkı için yukarı kaydırma */
}

.optionD {
    left: 50%; /* D Şıkkı için sağa kaydırma */
    top: 65%; /* D Şıkkı için yukarı kaydırma */
    transform: translateX(-50%); /* D Şıkkı ortalamak için */
}

.option:hover {
    background-color: lightblue; /* Üzerine gelindiğinde arka plan rengi */
}
