body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Arka plan rengi */
}

.container {
    position: relative;
}

.overlay {
    width: 100%; /* Resmi tam genişlikte göster */
    height: auto; /* Orantılı yükseklik */
}

.text {
    position: absolute;
    top: 730px; /* Soru kısmı için konum */
    left: 4600px; /* Soru kısmı için konum */
    color: white; /* Yazı rengi */
    font-size: 36px; /* Yazı boyutu */
    text-align: center;
}

.option {
    position: absolute;
    background-color: blue; /* Şık arka plan rengi */
    color: orange; /* Şık yazı rengi */
    font-size: 24px; /* Şık yazı boyutu */
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s; /* Renk geçişi için animasyon */
}

.optionA {
    left: 1456px; /* A Şıkkı X */
    top: 1783px; /* A Şıkkı Y */
}

.optionB {
    left: 5361px; /* B Şıkkı X */
    top: 2883px; /* B Şıkkı Y */
}

.optionC {
    left: 1456px; /* C Şıkkı X */
    top: 1783px; /* C Şıkkı Y */
}

.optionD {
    left: 5361px; /* D Şıkkı X */
    top: 2883px; /* D Şıkkı Y */
}

.option:hover {
    background-color: lightblue; /* Üzerine gelindiğinde arka plan rengi */
}
