body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Resmin genişliğine göre ayarla */
    margin: auto;
}

.overlay {
    width: 100%;
    height: auto;
}

.text {
    position: absolute;
    top: 30%; /* Üstten uzaklık */
    left: 5%; /* Soldan uzaklık */
    color: orange; /* Yazı rengi */
    font-size: 24px; /* Yazı boyutu */
    text-align: left;
}

.text ul {
    list-style-type: none;
    padding: 0;
}

.text li {
    margin: 10px 0;
    font-weight: bold; /* Şıkları kalın yap */
}
